{% load static %}
<html>
    <head>
        <title>LITReview</title>
        <link rel="stylesheet" href="{% static 'review/style.css' %}">
    </head>
    <body>

        <div class="viewport">
            <div class="topnav">

                <div class="topnav-centered">
                    <a href="#" id="mark">LITReview</a>
                </div>
                
                
                {% if user.is_authenticated %}
                <div class="topnav-left">
                    <span>Logged as: {{user.username}}</span>
                </div>
                <div class="topnav-right">
                    <a href="{% url 'flux' %}">Flux</a>
                    <a href="{% url 'my-content' %}">Posts</a>
                    <a href="{% url 'follows' %}">Abonnements</a>
                    <a href="{% url 'logout' %}">Se déconnecter</a>
                </div>
                {% endif %}
            </div>
        </div>
            <div class="content-block">

            {% block content%}
            <!-- CONTENT HERE -->
            {% endblock %}

            </div>
        </div>
        
    </body>
</html>