{% extends 'review/base.html' %}
{% block content %}
<p><strong>Montre les critiques et ticket des utilisateurs suivit.</strong></p>
<p><strong>Montre aussi les tickets et reviews de l'utilisateurs, ainsi que les reviews de leurs propre ticket.</strong></p>

<div class="flux-page">

    <div class="flux-btn">
        <a href="{% url 'create-ticket' %}"><button>Demander une critique</button></a>
        <a href="{% url 'new-review' %}"><button>Créer une critique</button></a>
    </div>

</div>
{% endblock %}