{% extends 'review/base.html' %}
{% block content %}

<div>
    <div class="follows-follow-user">
        <h2>Suivre d'autre utilisateurs</h2>
        <p>Champ pour entrer le nom d'un utilisateur.</p>
        <input type="text" name="follow-user-name" placeholder="Nom d'utilisateur">
    </div>

    <div class="follows-followed">
        <h2>Abonnements</h2>
        <p>Liste des abonnements + bouton de désabonnement.</p>
    </div>

    <div class="follows-followers">
        <h2>Abonnées</h2>
        <p>Liste des abonnées</p>

    </div>
</div>

{% endblock %}