{% extends 'review/base.html' %}
{% block content %}

<p>Affiche les posts de l'utilisateur, du plus récent au plus anciens (5 derniers résultats)</p>

<h1>Vos posts</h1>

<div class="my-content">
    <p>Il doit être possible de modifier/supprimer un ticket.</p>
    <a href="{% url 'edit-ticket' %}"><button>modifier TICKET</button></a>
    <a href="{% url 'delete-content' %}"><button>supprimer</button></a>

    <p>Il doit être possible de modifier/supprimer une critique.</p>
    <a href="{% url 'edit-review' %}"><button>modifier CRITIQUE</button></a>
    <a href="{% url 'delete-content' %}"><button>supprimer</button></a>

    <p>Page de <strong>confirmation</strong> puis <strong>redirection</strong> pour les bouttons supprimer.</p>

</div>

{% endblock %}