{% extends 'review/base.html' %}
{% block content %}

<h1>Créer une critique</h1>

<div class="new-review">

    <div class="new-review-infos">
        <h2 id="new-review-infos-title">Livre/Article</h2>
        <p>Form: Titre + Description + Image (télécharger ficher boutton)</p>
    </div>

    <div class="new-review-review">
        <h2 id="new-review-review-title">Critique</h2>
        <p>Form: Titre + Note (bulles 0 à 5) + Commentaire</p>
        <button id="new-review-submit" type="submit">Envoyer</button>
    </div>

    
</div>
{% endblock %}