<div class="my-content-snippet">
    
    <div class="my-content-review-header">
        <p class="review-header-left">Vous avez publié une critique</p>
        <p class="review-header-right">{{post.time_created}}</p>
    </div>

    <div class="my-content-review-body">
        <h3>{{post.headline}} - Score: {{post.rating}} / 5</h3>
        <p>{{post.body}}</p>
    </div>
    
    <br>

    <div class="my-content-review-ticket">
        <p>Ticket - {{post.ticket.user}}</p>
        <h4>{{post.ticket.title}}</h4>
        <img src="{{post.ticket.image.url}}" width="140px">
    </div>

    <div class="my-content-block-btn">
        <a href="{% url 'edit-review' post.id %}"><button>modifier</button></a>
        <a href="{% url 'delete-review' post.id %}"><button>supprimer</button></a>
    </div>

</div>
