<div class="my-content-snippet">

    <div class="my-content-ticket-header">
        <p class="ticket-header-left"><strong>{{user.username}}</strong> a publié un ticket:</p>
        <p class="ticket-header-right">{{post.time_created}}</p>
    </div>
    
    <div class="my-content-ticket-image">
        <h3>{{post.title}}</h3>
        <img src="{{post.image.url}}" width="200px">
    </div>

    <div class="my-content-block-btn">

        {% if name == 'my_content' %}
        <a href="{% url 'edit-ticket' post.id %}"><button>modifier</button></a>
        <a href="{% url 'delete-ticket' post.id %}"><button>supprimer</button></a>
        
        {% elif name == 'flux' %}
        <a href="{% url 'create-critic' post.id %}"><button type="submit">Créer une critique</button></a>
        {% endif %}
    </div>
</div>
