
<div class="my-content-snippet">

    <div class="my-content-ticket-header">
        <p class="ticket-header-left">Vous avez publié un ticket</p>
        <p class="ticket-header-right">{{post.time_created}}</p>
    </div>
    
    <div class="my-content-ticket-image">
        <h3>{{post.title}}</h3>
        <img src="{{post.image.url}}" width="240px">
    </div>

    <div class="my-content-block-btn">
        <a href="{% url 'edit-ticket' post.id %}"><button>modifier</button></a>
        <a href="{% url 'delete-ticket' post.id %}"><button>supprimer</button></a>
    </div>
</div>






