/* Base.html - global style */
body {
    background-color: whitesmoke;
}

button {
    padding: 20px 34px 20px 34px;
    border-radius: 4px;
}

.viewport {
    border: 2px solid black;
}

.content-block {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 200px;
}

.topnav {
    border-bottom: 2px solid black;
    text-align: center;
    padding: 12px 0px 20px 0px;
} 
.topnav, a {
    font-size: 18px;
    text-decoration: none!important;
}
.topnav-left {
    float: left;
}
.topnav-right {
    float: right;
}
.topnav-right, a {
    margin-left: 4px;
    margin-right: 4px;
}

.errorlist {
    list-style: none;
}

/* Login.html style */
.login-signup {
    display: inline-block;
    margin-right: 15%;
}
.login-signin {
    display: inline-block;
}
#login-submitbtn {
    float: right;
}

/* Create_ticket.html style */
.ticket-form-block {
    overflow: hidden;
    border: 2px solid black;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}
.ticket-form-btn {
    float:right;
    margin-bottom: 2%;
    margin-right: 4%;
}

/* My_content.html style */
.my-content-block {
    border: 2px solid black;
    width: 50%;
    margin: auto;
}
.my-content-ticket {
    border-bottom: 1px solid black;
    width: 100%;
    margin: auto;
}
.my-content-ticket-header {
    text-align: left;
    display: flex;
}
#ticket-header-left, #ticket-header-right {
    display: inline-block;
}
#ticket-header-left {
    flex: 1;
    padding-left: 4px;
}
#ticket-header-right {
    padding-right: 4px;
}
.my-content-ticket-btn {
    padding-top: 30px;
    padding-bottom: 30px;
}
/* delete_ticket & delete_review style */
.delete-content-box {
    border: 2px solid black;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 60%;
    margin: auto;
}
.delete-content-message {
    padding-top: 12px;
    font-size: large;
}
.delete-content-btn {
    color: white;
    background-color: red;
    margin-top: 40px;
    margin-bottom: 40px;
}