/* Base.html - global style */
body {
    background-color: whitesmoke;
}

button {
    padding: 10px 14px 10px 14px;
    border-radius: 4px;
}

.viewport {
    border: 2px solid black;
}

.content-block {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 200px;
}

.topnav {
    border-bottom: 2px solid black;
    text-align: center;
    padding: 12px 0px 20px 0px;
} 
.topnav, a {
    font-size: 18px;
    text-decoration: none!important;
}
.topnav-left {
    float: left;
}
.topnav-right {
    float: right;
}
.topnav-right, a {
    margin-left: 4px;
    margin-right: 4px;
}

.errorlist {
    list-style: none;
}

/* Login.html style */
.login-signup {
    display: inline-block;
    margin-right: 15%;
}
.login-signin {
    display: inline-block;
}
#login-submitbtn {
    float: right;
}

/* Flux.html style */
.flux-container {
    margin: 1% 10% 1% 10%;
    border: 2px solid black;
}

/* Create_ticket.html style */
.create-ticket {
    overflow: hidden;
    border: 2px solid black;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}
#ticket-submit {
    float:right;
    margin-bottom: 2%;
    margin-right: 4%;
}

/* New_review.html style */
.new-review {
    overflow: hidden;
    border: 1px solid black;
    margin-left: 10%;
    margin-right: 10%;
}
.new-review-review {
    border-top: 1px solid black;
}
#new-review-submit {
    float:right;
    margin-bottom: 2%;
    margin-right: 4%;
}
