/* Base.html - global style */
body {
    background-color: whitesmoke;
}

button {
    padding: 20px 34px 20px 34px;
    border-radius: 4px;
}

input, label, textarea {
    display: block;
}

input {
    width: 95%;
}

textarea {
    width: 95%;
}

.viewport {
    border: 2px solid black;
}

.content-block {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 200px;
}

.topnav {
    border-bottom: 2px solid black;
    text-align: center;
    padding: 12px 0px 20px 0px;
} 
.topnav, a {
    font-size: 18px;
    text-decoration: none!important;
}
.topnav-left {
    float: left;
}
.topnav-right {
    float: right;
}
.topnav-right, a {
    margin-left: 4px;
    margin-right: 4px;
}

.errorlist {
    list-style: none;
}

/* Login.html style */
.login-page, button {
    margin-top: 15px;
}

.login-signup {
    display: inline-block;
    margin-right: 15%;
}

.login-signin {
    display: inline-block;
}
#login-submitbtn {
    float: right;
}

.signup-page {
    width: 30%;
    margin: auto;
}

/* Create_ticket & Create_review style */
.form-block {
    text-align: left;
}
.ticket-form-block {
    text-align: left;
    overflow: hidden;
    border: 2px solid black;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 10px;
}
.review-form-block {
    overflow: hidden;
    border: 2px solid black;
    border-top: 0px;
    width: 50%;
    margin: auto;
    padding-left: 10px;
}
.form-btn {
    float:right;
    margin-bottom: 2%;
    margin-right: 4%;
}
#id_rating div {
    width: 12%;
    display: inline-block;
}
#id_rating div label {
    display: flex;
}
#id_rating div label input {
    width: 25%;
}

/* follows style */
.follows-wrapper {
    width: 50%;
    margin: auto;
}
.follows-user-input,
.subscription-recap {
    padding-bottom: 20px;
}
.follows-item-wrapper {
    display: flex;
    border: 1px solid black;
}
.follows-username {
    text-align: left;
    width: 90%;
    padding-left: 2%;
}
.unfollow-btn {
    margin-top: 0px;
    border: none;
    border-left: 1px solid black;
    border-radius: 0%;
}

/* my_content flux, and create_critic style */
.my-content-block,
.flux-page-content {
    border: 2px solid black;
    border-bottom: 1px solid black;
    width: 50%;
    margin: auto;
}
.flux-btn {
    padding-bottom: 20px;
}
.flux-btn a {
    padding-left: 2%;
    padding-right: 2%;
}
.my-content-snippet {
    text-align: left;
    border-bottom: 1px solid black;
    margin-left: 4px;
    margin-right: 4px;
}
.my-content-block-btn {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 10px;
    text-align: right;
}
.my-content-review-body {
    text-align: left;
    padding-left: 4px;
}
.my-content-review-healine {
    font-size: larger;
    font-weight: 100;
}
.my-content-ticket-header, 
.my-content-review-header,
.my-content-review-ticket,
.review-form-ticket-header {
    text-align: left;
    display: flex;
}
.my-content-review-ticket,
.ticket-recap-infos {
    border: 1px solid black;
    width: 85%;
    margin: auto;
    flex-direction: column;
    padding: 4px 8px 4px 8px;
}
.ticket-recap {
    border: 2px solid black;
    overflow: hidden;
    width: 50%;
    margin: auto;
    padding-bottom: 4%;
    padding-left: 10px;
}
.ticket-recap p {
    padding-left: 4px;
}
.ticket-header-left, .ticket-header-right, 
.review-header-left, .review-header-right,
.ticket-recap-header-left, .ticket-recap-header-right {
    display: inline-block;
}
.ticket-header-left, 
.review-header-left,
.ticket-recap-header-left {
    flex: 1;
    padding-left: 4px;
}
.ticket-header-right, 
.review-header-right,
.ticket-recap-header-right {
    padding-right: 14px;
    font-size: smaller;
}

/* Edit_review style */
.review-form-block-alt {
    border: 2px solid black;
    text-align: left;
    overflow: hidden;
    width: 50%;
    margin: auto;
}
.review-form-ticket-wrapper {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}
.review-form-ticket-wrapper p {
    padding-left: 4px;
}
.review-form-ticket-recap {
    padding-left: 10px;
    border: 1px solid black;
    width: 60%;
    margin: auto;
}
.review-form-ticket-body img{
    padding-bottom: 4px;
}
.review-edit-review-form {
    padding-left: 10px;
}

/* delete_ticket & delete_review style */
.delete-content-box {
    text-align: center;
    border: 2px solid black;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 60%;
    margin: auto;
}
.delete-content-message {
    padding-top: 12px;
    font-size: large;
}
.delete-content-btn {
    color: white;
    background-color: red;
    margin-top: 40px;
    margin-bottom: 40px;
}